/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-1);
}

:root {

  /* 🎨 BACKGROUND */
  --bg-gradient: linear-gradient(135deg, #3b82f6, #9333ea);
  --bg-blue: #3b82f6;
  --bg-purple: #9333ea;
  --bg-dark: #0f172a;
  --bg-dark-purple:#5d55b325;

  /* 🧊 GLASS */
  --glass-bg: #ffffff14;
  --glass-bg-border: #ffffff26;
  --glass-border: #ffffff4d;
  --glass-hover: #ffffff33;
  --glass-hover-secondary:#ffffff1a;

  /* 📝 TEXTOS */
  --text-primary: #ffffff;
  --text-secondary: #cbd5f5;
  --text-title: #93c5fd;


  /* 🔘 BOTÕES */
  --btn-primary: #29294f;
  --btn-primary-hover: #29294f94;
  --btn-secondary: #ffffff;
  --btn-secondary-border: #ffffff;
  --btn-secondary-hover: #c2c2c2;

  /* 🌫 EXTRA */
  --shadow-soft: #0000001a;
  --box-shadow: #00000066;

  /* 🔤 TIPOGRAFIA */
  --font-main: 'Inter', sans-serif;
  --weight-semibold: 600;
  --weight-regular: 400;
}



