/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-1);
}

:root {
  /* --- TOKENS DE CORES --- */
  --color-1: #3b82f6;
  --color-2: #9333ea;
  --color-3: #ffffff14;
  --color-4: #ffffff26;
  --color-5: #ffffff;
  --color-6: #cbd5f5;
  --color-7: #ffffff33;
  --color-8: #ffffff4d;
  --color-9: #F3F3F3;
  --color-10: #0f172a;
  --color-11: #0000001a;

  /* 🎨 BACKGROUND */
  --bg-gradient: linear-gradient(135deg, #3b82f6, #9333ea);

  /* 🧊 GLASS */
  --glass-bg: #ffffff14;
  --glass-border: #ffffff26;
  --glass-hover: #ffffff33;

  /* 📝 TEXTOS */
  --text-primary: #ffffff;
  --text-secondary: #cbd5f5;
  --text-dark: #0f172a;

  /* 🔘 BOTÕES */
  --btn-primary: #3b82f6;
  --btn-primary-hover: #2563eb;
  --btn-secondary-border: #ffffff;
  --btn-secondary-hover: #ffffff1a;

  /* 🌫 EXTRA */
  --shadow-soft: #0000001a;

  /* 🔤 TIPOGRAFIA */
  --font-main: 'Inter', sans-serif;
  --weight-semibold: 600;
  --weight-regular: 400;
}



